
.carrocel-text h1 {
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInRight 0.5s ease 0.5s forwards;
}

.carrocel-text h2 {
    opacity: 0;
    transform: translate(10px);
    animation: fade 0.5s ease 0.5s forwards;
}


.carrocel-paragrafo {
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInRight 0.5s ease 0.8s forwards;
}

.text-01{
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInUp 0.5s ease 0.3s forwards;
}

.btn-primario {
    opacity: 0;
    animation: showBtns 0.5s ease 1s forwards;
}

.btn-secundario {
    opacity: 0;
    animation: showBtns 0.5s ease 1.2s forwards;
}




@keyframes fade {
    to {
        opacity: 1;
    }
}

@keyframes showBtns {
    to {
    opacity: 1;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }